<div class="darkmode">
    <a class="btn dark-toggle" href="#" onclick="localStorage.setItem('mode', (localStorage.getItem('mode') || 'dark') === 'dark' ? 'light' : 'dark'); localStorage.getItem('mode') === 'dark' ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark'); " title="Dark/light"><i class="material-icons left ikon">brightness_4</i> Toggle Dark Mode</a>
</div>