<h3><i class="fas fa-headphones-simple"></i> Music Festival Tracker</h3>
<div class="section">
    <div class="lead">Keep track of all the music festivals you have been to!</div>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-2">
        <i class="fab fa-google left"></i> LOGIN WITH GOOGLE
    </a>
</div>