<h4>Add Music Festival</h4>
<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Music Festival Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                 <input type="text" class="datepicker" name="start">
                 <label for="start">Start</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                 <input type="text" class="datepicker2" name="end">
                 <label for="end">End</label>
            </div>
        </div>

        <div class = "row">
               <div class = "file-field input-field">
                  <div class = "btn">
                     <span>Browse</span>
                     <input type = "file" />
                  </div>
                  
                  <div class = "file-path-wrapper">
                     <input class = "file-path validate" type = "text"
                        placeholder = "Upload file" />
                  </div>
               </div>
            </div>

        <div class="row">
            <div class="input-field">
                <h6>Notes:</h6>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>